#top_right {
    display: flex;
    justify-content: right;
    
    a {
        margin: 5px;
    }
}

#text {
    position: absolute;
    left: 35%;
    top: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;

    input {
        width: 30%;
        border-radius: 10px;
        height: 25px;
    }
}

#submit {
    position: absolute;
    left: 38%;
    top: 95px;
    width: 100%;

    input {
        width: 25%;
        height: 20px;
    }
}

#image_index {
    display: flex;
    justify-content: right;
}

#advanced_index {
    display: flex;
    justify-content: right;
}
