#top_right {
    display: flex;
    justify-content: right;
    
    a {
        margin: 5px;
    }
}

.text {
    position: absolute;
    left: 35%;
    top: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;

    input {
        width: 30%;
        border-radius: 10px;
        height: 25px;
    }
}

.submit {
    position: absolute;
    left: 38%;
    top: 95px;
    width: 100%;

    input {
        width: 25%;
        height: 20px;
    }
}

#image_index {
    display: flex;
    justify-content: right;
}

#advanced_index {
    display: flex;
    justify-content: right;
}

#advanced_submit {
    position: absolute;
    left: 38%;
    top: 180px;
    width: 100%;

    input {
        width: 25%;
        height: 20px;
    }
}

#text1 {
    position: absolute;
    top: 50px;
    left: 0;
    margin-left: 8px;
    width: 100%;

    input {
        margin-left: 76px;
        width: 40%;
    }
}

#text2 {
    position: absolute;
    top: 80px;
    left: 0;
    margin-left: 8px;
    width: 100%;

    input {
        margin-left: 10px;
        width: 40%;
    }
}

#text3 {
    position: absolute;
    top: 110px;
    left: 0;
    margin-left: 8px;
    width: 100%;

    input {
        margin-left: 52px;
        width: 40%;
    }
}

#text4 {
    position: absolute;
    top: 140px;
    left: 0;
    margin-left: 8px;
    width: 100%;

    input {
        width: 40%;
        margin-left: 45px;
    }
}

#submit_button {
    background-color: blue;
    color: white;
}

#google_search {
    position: absolute;
    left: 53%;
    top: 95px;
    width: 100%;

    input {
        width: 25%;
        height: 20px;
    }
}

#lucky {
    position: absolute;
    top: 95px;
    left: 22%;
    width: 100%;

    input {
        width: 27%;
        height: 20px;
    }
}
